In [1]:
import pandas as pd
import numpy as np

In [6]:
data =pd.read_csv("iris.csv")

In [7]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
102,103,7.1,3.0,5.9,2.1,Iris-virginica
80,81,5.5,2.4,3.8,1.1,Iris-versicolor
24,25,4.8,3.4,1.9,0.2,Iris-setosa
143,144,6.8,3.2,5.9,2.3,Iris-virginica
42,43,4.4,3.2,1.3,0.2,Iris-setosa

In [8]:
data = data.drop('Id',axis=1)

In [9]:
x=data.drop('Species', axis= 1)

In [10]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
y=data['Species']

In [12]:
y.sample(5)

86     Iris-versicolor
71     Iris-versicolor
67     Iris-versicolor
107     Iris-virginica
15         Iris-setosa
Name: Species, dtype: object

In [22]:
from sklearn.model_selection import cross_val_score

# KNN

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
cross_val_score(knn,x,y,cv=5).mean()

0.9733333333333334

# Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf,x,y,cv=5).mean()

0.96

# Naive bayes

In [30]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb,x,y,cv=5).mean()

0.9533333333333334

# Support Vector Machine

In [32]:
from sklearn.svm import SVC
svm=SVC()
cross_val_score(svm,x,y,cv=5).mean()

0.9666666666666666