In [1]:
import numpy as np
import pandas as pd

In [2]:
data =pd.read_csv("kyphosis.csv")

In [3]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
data.shape

(81, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [6]:
x = data.drop('Kyphosis',axis=1)

In [7]:
x

    Age  Number  Start
0    71       3      5
1   158       3     14
2   128       4      5
3     2       5      1
4     1       4     15
..  ...     ...    ...
76  157       3     13
77   26       7     13
78  120       2     13
79   42       7      6
80   36       4     13

[81 rows x 3 columns]

In [8]:
y = data['Kyphosis']

In [9]:
y

0      absent
1      absent
2     present
3      absent
4      absent
       ...
76    present
77     absent
78     absent
79    present
80     absent
Name: Kyphosis, Length: 81, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.3)

In [11]:
x_train.shape

(56, 3)

In [12]:
x_test.shape

(25, 3)

# Random Forest

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=50)

In [18]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'present', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'present', 'absent',
       'absent'], dtype=object)

In [19]:
y_test

7      absent
51     absent
5      absent
68     absent
3      absent
39    present
57    present
77     absent
73     absent
47     absent
29     absent
63     absent
74     absent
71     absent
27     absent
6      absent
53     absent
20     absent
62     absent
64     absent
18     absent
78     absent
2     present
19     absent
10    present
Name: Kyphosis, dtype: object

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.92

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[21,  0],
       [ 2,  2]], dtype=int64)

In [22]:
data['Kyphosis'].value_counts()

absent     64
present    17
Name: Kyphosis, dtype: int64